//Tener en cuenta este es un archivo secundario y el princiapal es app.scss
//Por lo que es necesario que este archivo al nombrarlo empiece con _nombre
//Indica que este archivo se va incluir en otro, no es un archivo que se compile aparte
$fuente_principal: "Montserrat", sans-serif;

// Colores
$verde:#4CB8B3;
$rosa: #F53756;
$amarillo: #fdda00;
$morado: #752F97;
$negro: #000000;
$blanco: #FFFFFF;

// Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;