//Tener en cuenta este es un archivo secundario y el princiapal es app.scss
//Por lo que es necesario que este archivo al nombrarlo empiece con _nombre
//Indica que este archivo se va incluir en otro, no es un archivo que se compile aparte
$fuente_principal: "Montserrat", sans-serif;

$negro: #000000