//SASS permite manejar variables que son equivalentes a los custom properties de css.
//Podemos añadir fuentes de google font con el código de css que nos dar goolge.
//Sass nos permite crear diferentes archivos, ayuda a tener un mejor orden en el
//Creando variables en sass siempre empiezan con este simbolo $
$fuente_principal: "Montserrat", sans-serif;

body {
  font-family: $fuente_principal;
  font-optical-sizing: auto;
  font-style: normal;

}
